
 <h1 class="brand">MASCOTI</h1>
<div class="login-container">
  <img src="/huella.png" class="huella-icon top-left" alt="huella" />
  <img src="/huella.png" class="huella-icon top-right" alt="huella" />

 

  <div class="login-box-wrapper">
    <img src="/reset22.png" class="mascota-img-floating" alt="Mascota" />

    <div class="login-box">
      <img src="/huella.png" class="huella-inside" alt="huella" />

      <h3>Recuperar contraseña</h3>

      <form (ngSubmit)="onResetPassword()" #form="ngForm">
        <label>Correo Electrónico</label>
        <input
          type="email"
          name="email"
          [(ngModel)]="email"
          placeholder="Ingresa tu email"
          required
        />

        <button type="submit" class="login-btn">Enviar instrucciones</button>
      </form>

      <a routerLink="/login" class="register-link">Volver al login</a>
    </div>
  </div>
</div>
