<mat-sidenav-container class="container-layout">
  <!-- Sidebar -->
  <mat-sidenav
    #sidenav
    [mode]="modoSidenav"
    [(opened)]="sidebarAbierto"
    class="sidenav"
    (closedStart)="sidebarAbierto = false"
  >
    <h1 class="brand">MASCOTI</h1>

    <!-- Navegación -->
    <a routerLink="/lista-mascotas" routerLinkActive="active-link" (click)="cerrarSiEsOver()">🐾 Mascotas</a>
    <a routerLink="/vacunas" routerLinkActive="active-link" (click)="cerrarSiEsOver()">💉 Vacunas</a>
    <a routerLink="/desparasitaciones" routerLinkActive="active-link" (click)="cerrarSiEsOver()">🐛 Desparasitaciones</a>
    <a routerLink="/tratamientos" routerLinkActive="active-link" (click)="cerrarSiEsOver()">💊 Tratamientos</a>
    <a routerLink="/diagnosticos" routerLinkActive="active-link" (click)="cerrarSiEsOver()">🩺 Diagnósticos</a>
    <a routerLink="/notificaciones" routerLinkActive="active-link" (click)="cerrarSiEsOver()" style="display: flex; align-items: center; justify-content: space-between;">
  <span>🔔 Notificaciones</span>
  <span *ngIf="notificacionesNoLeidas > 0" class="badge red white-text" style="margin-left: auto; margin-right: 10px; font-size: 12px; padding: 2px 6px; border-radius: 12px;">
    {{ notificacionesNoLeidas }}
  </span>
</a>

    <a routerLink="/perfiles" routerLinkActive="active-link" (click)="cerrarSiEsOver()">👤 Perfil</a>
    <a routerLink="/calendario" routerLinkActive="active-link" (click)="cerrarSiEsOver()">📅 Calendario</a>
    <a routerLink="/enviar" routerLinkActive="active-link" (click)="cerrarSiEsOver()">
  📨 Mensajes
</a>



  </mat-sidenav>

  <!-- Contenido principal -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
