
<h1 class="brand">MASCOTI</h1> <!-- <- ahora va primero -->
<div class="login-container">
  <img src="/huella.png" class="huella-icon top-left" alt="huella" />
  <img src="/huella.png" class="huella-icon top-right" alt="huella" />

  <div class="login-box-wrapper">
  
  <img src="/dog.png" class="mascota-img-floating" />

    <div class="login-box">
      <img src="/huella.png" class="huella-inside" alt="huella" />

      <h3>Iniciar sesión</h3>

      <form (ngSubmit)="onLogin()" #form="ngForm">
        <label>Correo Electrónico</label>
        <input 
          type="email" 
          name="email" 
          [(ngModel)]="email" 
          placeholder="Correo "
          required
        />
        <div *ngIf="errors.email" class="error">{{ errors.email }}</div>

        <label>Contraseña</label>
        <input 
          type="password" 
          name="password" 
          [(ngModel)]="password" 
          placeholder="******"
          required
        />
        <div *ngIf="errors.password" class="error">{{ errors.password }}</div>

        <a routerLink="/reset-password" class="forgot-link">Cambiar Contraseña</a>
        <button type="submit" class="login-btn">Login</button>
      </form>

      <a routerLink="/register" class="register-link">Regístrate</a>
    </div>
  </div>
</div>
