<mat-nav-list>
  <h3 mat-subheader>📨 Conversaciones</h3>

  <ng-container *ngIf="conversaciones.length > 0; else sinConversaciones">
    <mat-list-item *ngFor="let chat of conversaciones" (click)="irAlChat(chat.mascota_id, chat.receptor_id)">
      <mat-icon matListIcon>chat</mat-icon>
      <div matLine>
        <strong>{{ chat.mascota_nombre }}</strong> - {{ chat.nombre_otro_usuario }}
      </div>
      <div matLine class="mensaje-preview">
        {{ chat.ultimo_mensaje?.contenido || 'Sin mensajes' }}
      </div>
    </mat-list-item>
  </ng-container>

  <ng-template #sinConversaciones>
    <mat-list-item>
      <mat-icon matListIcon>info</mat-icon>
      <div matLine>No tienes conversaciones iniciadas aún</div>
    </mat-list-item>
  </ng-template>
</mat-nav-list>

<h3 mat-subheader>🐾 Mascotas sin chat</h3>
<ng-container *ngIf="mascotasSinChat.length > 0; else sinAsignaciones">
  <mat-list-item *ngFor="let item of mascotasSinChat">
    <mat-icon matListIcon>person_add</mat-icon>
    <div matLine>
      <strong>{{ item.mascotaNombre }}</strong> con {{ item.paseador.nombre }}
    </div>
    <button mat-mini-button color="primary" (click)="iniciarChat(item.mascotaId, item.paseador.id)">
      Iniciar chat
    </button>
  </mat-list-item>
</ng-container>

<ng-template #sinAsignaciones>
  <mat-list-item>
    <mat-icon matListIcon>info</mat-icon>
    <div matLine>No hay mascotas con paseador sin conversación.</div>
  </mat-list-item>
</ng-template>

