<h1 class="brand">MASCOTI</h1> <!-- <- ahora va primero -->
<div class="login-container">
  <img src="/huella.png" class="huella-icon top-left" alt="huella" />
  <img src="/huella.png" class="huella-icon top-right" alt="huella" />

  <div class="login-box-wrapper">
    
    <img src="/gatito1.png" class="mascota-img-floating" />

    <div class="login-box">
      <img src="/huella.png" class="huella-inside" alt="huella" />

      <h3>Registro</h3>

      <form (ngSubmit)="onRegister()" #form="ngForm">
        <label>Nombre</label>
        <input type="text" name="name" [(ngModel)]="name" placeholder="Nombre" required />
        <div *ngIf="errors.name" class="error">{{ errors.name }}</div>

        <label>Email</label>
        <input type="email" name="email" [(ngModel)]="email" placeholder="Email" required />
        <div *ngIf="errors.email" class="error">{{ errors.email }}</div>

        <label>Contraseña</label>
        <input type="password" name="password" [(ngModel)]="password" placeholder="Contraseña" required />
        <div *ngIf="errors.password" class="error">{{ errors.password }}</div>

        <label>Repetir Contraseña</label>
        <input type="password" name="password_confirmation" [(ngModel)]="password_confirmation" placeholder="Repetir Contraseña" required />
        <div *ngIf="errors.password_confirmation" class="error">{{ errors.password_confirmation }}</div>

        <label>Teléfono</label>
        <input type="text" name="telefono" [(ngModel)]="telefono" placeholder="Teléfono" required />
        <div *ngIf="errors.telefono" class="error">{{ errors.telefono }}</div>

        <label>Rol</label>
        <select [(ngModel)]="role" name="role" required>
          <option value="" disabled selected>Selecciona un rol</option>
          <option value="veterinario">Veterinario</option>
          <option value="dueno">Dueño</option>
          <option value="paseador">Paseador</option>
        </select>
        <div *ngIf="errors.role" class="error">{{ errors.role }}</div>

        <button type="submit" class="login-btn">Registrarse</button>
      </form>

      <a routerLink="/login" class="register-link">¿Ya tienes cuenta? Inicia sesión</a>
    </div>
  </div>
</div>
